# Persekitaran & Pengenalan Aplikasi
APP_URL="https://ais-dev-t5lpes4txx353hy535hfxm-759938914416.asia-southeast1.run.app"

# Google Gemini API Key (Pilihan untuk fungsi AI pada masa hadapan)
GEMINI_API_KEY=""

# Firebase Configuration (Pilihan di Vercel - secara lalai dibaca daripada firebase-applet-config.json)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_FIRESTORE_DATABASE_ID=""
